Options -Indexes

<FilesMatch "\.(inc)$">
    Order allow,deny
    Deny from all
</FilesMatch>

Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-XSS-Protection "1; mode=block"
